/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2018, 9:52:28 AM
    Author     : Staven
*/

@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
    --background: #F8F1E5;
    --almostblack: #2F3131;
}

 * {box-sizing: border-box}
 
 body {
    background-color: var(--background);
    height: 100%;
}

.flex-page {
    margin: 0;
    display: flex;
}

/*font type for the page and all items in the page*/
body, body * {
    font-family: 'Rubik', sans-serif !important;
}
 
.nav-container {
    flex: 20%;
    min-width: 80px !important;
    max-width: 100px !important;
}

.page-container {
    flex: 80%;
}

/* makes typeable input boxes bigger */
 input[type=text], input[type=password] {
     margin: 10px 0;
     padding: 15px;
 }
 
 /*input boxes changes when clicked on */
 input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

 /* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#welcome-page {
    text-align: center;
    margin-top: 10%;
}

 /* Set a style for the submit/register button */
.registerbtn {
  background-color: var(--almostblack);
  color: var(--background);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
 .registerbtn:hover {
  opacity:1;
}
 /* Add a blue text color to links */
a {
  color: dodgerblue;
}
 /* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
 .student-input {
    max-width: 20%;
    
}
 .form1 {
    text-align: center;
}
 .form1 input {
    display: list-item;
}

 .student-container {
    margin: 30px 0;
    border: solid 1px buttonface;
    width: 50%;
}

.student-container-item {
    margin: 0px 5px;
}

.message-container {
    border: solid 2px black;
    width: 20%;
    background-color: beige;
    text-align: center;
    color: black;
    margin: 30px 10px;
    word-wrap: break-word;
}
.message-flex-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
}
.message-bold-container {
    font-weight: bold;
}

.message-container-item {
    margin: 10px 5px;
}

.student-container input {
    min-width: 10%;
}

 .student-container div {
    /*display: inline;*/
}

 #nav {
    display:block;
}
 .home-nav {
    max-width: 100%;
    
}
 .nav-container {
    margin: 0 20px 0 0;
    background: var(--almostblack);
    max-width: 10%;
    padding: 5px;
}
 .nav-item {
    border: 1px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.nav-item a{
    text-decoration: none;
    color: var(--background);
}
 .body {
    margin: 0;
    display: flex;
}
 .nav-img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

#nav-button {
    padding: 5px 15px;
    background-color: var(--background);
    color: var(--almostblack);
    margin: 0 auto;
    border-radius: 0px;
}

.sort-by-container {
    width:fit-content ;
    margin: 20px auto;
}

.module-container {
    padding: 5px;
    width: 70%;
    border: 1px solid var(--almostblack);
    margin: 20px auto;
    word-break: break-all;
}


.module-student-list {
    margin: 10px auto;
    width: 90%;
    border: solid 2px black;
    min-height: 300px;
}

#one-module-save {
    display:none;
}

.one-module-enabled {
    font-weight: bold;
    font-size: 1.5em;
}

/* Calendar styling starts here*/
#calendarWrapper {
    min-width: 1300px;
}

#boi {
    float: left;
    width: 20%;
    display: table;
}
 
#boi2 {
    float: left;
    width: 75%;
    margin-left: 30px;
}

.calendarTable {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}

.calendarTable td {
    border: solid black;
    text-align: center;
    width: 14.2857143%;
    padding: 5px;
}

.calendarTable th {
    border: solid black;
    padding: 10px;
}

.currentWD {
    background-color: yellow;
}

/* Timetable styling */
#timetable {
  border-collapse: collapse;
}

#timetable td {
      border: solid black;
}

#timetable th {
    border: solid black;
    padding: 20px;
}

#timetable th:first-child {
  border: none;
}

.timeStamp {
    vertical-align: top;
    border: none !important;
}

.test-events {
  background-color: yellow;
}

.clockStart {
  position: absolute;
  top: 0;
  left: 0;
}

.clockEnd {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Calendar styling ends here */

.one-module-enabled {
    font-weight: bold;
    font-size: 1.5em;
}

.button {
    background-color: var(--almostblack); 
    border: none; 
    color: var(--background); 
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
}

.button-home {
    padding: 2px;
    font-size: 12px;
    width: 80px;
    height: 40px;
}

.button-default {
    width: 150px;
    height: 60px;
}

.back-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.module-edit-input {
    margin: 0 10px;
    padding: 5px;
    text-align: center;
}

#about {
    text-align: center;
    font-size: 200%;
}

.sort-by-container *{
    display: inline-block;
}

.course-container {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    background: lightblue;
    text-align: center;
}

.course-container:hover {
    cursor: pointer;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
}

.message-content {
    width: 90%;
    height: 300px;
}

.message-input {
    display: list-item;
}

#about-page {
    background-image: url("../images/Placeholder_v2.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.module-students-table {
    width: 100%;
    margin: 0 auto;
}

.module-students-table th {
    background: lightblue;
    border: 0px solid black;
}

.module-students-table td {
    background: white;
    border: 0;
}

.deliver-status {
    text-align: center;
}

.deliver-status *{
    display: inline;
}


 .invisible {
    display: none;
}

#invisible {
    display: none;
}

.inline-block {
    display: inline-block;
}
