/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2018, 9:52:28 AM
    Author     : Staven
*/

@import url('https://fonts.googleapis.com/css?family=Rubik');

 * {box-sizing: border-box}
 body {
    background-color: lightblue;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}

/*font type for entire page*/
body, body * {
    font-family: 'Rubik', sans-serif !important;
}

 input {
     padding: 15px;
     margin: 10px 0;
     background: #f1f1f1;
     border: none;
     border-radius: 5px;
 }
 
 input[type=submit], input[type=button] {
     border: solid 1px black;
     background-color: #dddde4;
     font-weight: bold;
 }
 
 input[type=submit]:hover, input[type=button]:hover {
     cursor: pointer;
     background-color: #ccc;
 }
 
 input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
 /* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 /* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
 .registerbtn:hover {
  opacity:1;
}
 /* Add a blue text color to links */
a {
  color: dodgerblue;
}
 /* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
 .student-input {
    max-width: 20%;
    
}
 .form1 {
    text-align: center;
}
 .form1 input {
    display: list-item;
}
 .invisible {
    display: none;
}

 .student-container {
    margin: 30px 0;
    border: solid 1px buttonface;
    width: 50%;
}

.student-container-item {
    margin: 0px 5px;
}

.student-container input {
    min-width: 10%;
}

 .student-container div {
    /*display: inline;*/
}
 #nav {
    display:block;
}
 .home-nav {
    max-width: 100%;
    
}
 .nav-container {
    margin: 0 20px 0 0;
    background: #961034;
    max-width: 10%;
    padding: 5px;
}
 .nav-item {
    border: 1px solid black;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.nav-item a{
    text-decoration: none;
    color: white;
}
 .body {
    margin: 0;
    display: flex;
}
 .nav-img {
    display: block;
}

#nav-button {
    padding: 5px 15px;
    margin: 0 auto;
}

.module-container {
    border: 1px solid darkblue;
    margin: 20px 0;
}

.module-student-list {
    margin: 10px auto;
    width: 90%;
    border: solid 2px black;
    min-height: 300px;
}

#one-module-save {
    display:none;
}

.one-module-enabled {
    font-weight: bold;
    font-size: 1.5em;
}

/* Calendar styling starts here*/

.Calendars {
    float: left;
    width: 20%;
    margin-right: 1%;
    min-width: 155px;
}
 
.cd-schedule {
    float:left;
    margin-right: 1%;
    width: 78%;
    min-width: 800px;
}

.month {
    width: 100%;
    padding: 3px;
    background-color: #ddd;
    text-align: center;
    font-size: 10px;
    color: #666;
}

.weekdays {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    background-color:#ddd;
}

.weekdays li {

    display: table-cell;
    width: auto;
    text-align: center;
    color: #666;
}

#highlightWeekday {
    background-color: white;
}

.thisDay {
    background-color: white;
}

.days {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    display: table;
    width: 100%;
    background: #eee;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14.2857143%;
    text-align: center;
    font-size: 1vw;
    color: #777;
    padding: 10px;
}

.days li:hover {
    background-color: #737373;
}

/* Timetable styling */
*, *::after, *::before {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.cd-schedule {
  position: relative;
  margin: 0 0;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .timeline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }
  .cd-schedule .timeline li {
    position: relative;
    height: 79.3px;
  }
  .cd-schedule .timeline li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
  }
  .cd-schedule .timeline li:last-of-type::after {
    display: none;
  }
  .cd-schedule .timeline li span {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .timeline li::after {
    width: calc(100% - 60px);
    left: 60px;
  }
  .cd-schedule .timeline li span {
    display: inline-block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.cd-schedule .events .top-info {
  width: 100%;
  padding: 0 5%;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events {
    float: left;
    width: 100%;
  }
  .cd-schedule .events .events-group {
    width: 14.2857143%;
    float: left;
    border: 1px solid black;
    /* reset style */
    margin-bottom: 0;
  }
  .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  .cd-schedule .events .top-info {
    /* vertically center its content */
    display: table;
    height: 50px;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px;
  }
  
  .cd-schedule .events .events-group > ul {
    height: 950px;
  }
}

@media only screen and (min-width: 1000px) {
  .cd-schedule .events {
    /* 60px is the .timeline element width */
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}

.weekdays .thisDay {
    background-color: white;
}
/* Calendar styling ends here */

.one-module-enabled {
    font-weight: bold;
    font-size: 1.5em;
}